body {
  background-color : #5c5567
}

.time {
    text-align : center;
    background-color : #CDC1FF;
    margin-left : 10%;
    margin-top : 30px;
    width : 80%;
    height : 15%;
    padding : 10px;
    border-radius : 10px;
}

.about {
    background-color : #CDC1FF;
    margin : 20px;
    padding : 10px;
    margin-left : 10%;
    margin-top : 30px;
    width : 80%;
    height : auto;
    border-radius : 10px;
}

.about h2 {
    text-align : center;
    
}

.about img {
    border-radius : 100%;
    margin : 10px;
    width : 200;
    float : left;
    height : 200px;
    
    
}

.about p {
    position : relative ;
    top : 20px;
    font-size : 20px;
    left : 10px;
}

.EB {
    background-color : #CDC1FF;
    margin-left : 10%;
    margin-top : 30px;
    width : 80%;
    height : auto;
    padding : 10px;
    border-radius : 10px;
}

.EB h4 {
    margin :0;
    margin-top : 20px;
}

.EB p {
    margin : 0;
}

.skill { 
        background-color : #CDC1FF;
    margin-left : 10%;
    margin-top : 30px;
    width : 80%;
    height : auto;
    padding : 10px;
    border-radius : 10px;
}

.hobbies {
    background-color : #CDC1FF;
    margin-left : 10%;
    margin-top : 30px;
    width : 80%;
    height : auto;
    padding : 10px;
    border-radius : 10px;
}

.contact {
    background-color : #CDC1FF;
    margin-left : 10%;
    margin-top : 30px;
    width : 80%;
    height : auto;
    padding : 10px;
    border-radius : 10px;
}

.hobbies img {
    width : 200px;
    height : 200px;
}



.container {   
    display : flex;
    gap : 20px;
    flex-direction : column;
    justify-content : center;
    flex-basis : auto;
}

.container_hobbies {
    display : flex;
    gap : 20px;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : space-evenly;
  
}


@media (max-width : 675px) {




.about {
    background-color : #CDC1FF;
    margin : 20px;
    padding : 10px;
    margin-left : 10%;
    margin-top : 30px;
    width : 80%;
    height : auto; 
    border-radius : 10px;
}

.about img {
    border-radius : 100px;
    
    margin : auto;
    display : block;
    width : 200px;
    float : None;
    height : 200px;
    
    
}


.skill { 
        background-color : #CDC1FF;
    margin-left : 10%;
    margin-top : 30px;
    width : 80%;
    height : 20%;
    padding : 10px;
    border-radius : 10px;
}



}
