* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: rgb(0, 82, 145);
  color: white;
}
