* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background: linear-gradient(45deg, rgb(4, 201, 211), rgb(0, 255, 187));
}

/* rgb(5, 181, 190), rgb(1, 207, 152)); */

.greeting {
  text-align: center;
  margin: auto;
  margin-top: 75px;
  font-size: 40px;
}

.section {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  height: 300px;
}

.profile {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.profile-pic {
  background-image: url("images/profile-pic.jpg");
  background-size: contain;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 30px;
}
.about-me {
  line-height: 28px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 20px;
  height: 250px;
  width: 800px;
  padding-left: 10px;
}

.skills,
.hobbies {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skills h2,
.hobbies h2 {
  flex-basis: 100%;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 10px;
}
.sub-section {
  height: 300px;
  width: 270px;
  background-color: white;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
#html {
  background-image: url("images/html5-logo.webp");
}
#css {
  background-image: url("images/css-logo.webp");
}
#js {
  background-image: url("images/js-logo.webp");
  background-size: cover;
}
#cpp {
  background-image: url("images/cpp-logo.jpg");
}
#sketch {
  background-image: url("images/pencil.avif");
}
#anime {
  background-image: url("images/anime.avif");
  background-size: cover;
}
#music {
  background-image: url("images/music.avif");
  background-size: cover;
}
#tt {
  background-image: url("images/table-tennis.webp");
  background-size: cover;
}

.contact {
  height: 150px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-bottom: 50px;
}
.contact a {
  text-decoration: none;
  color: black;
}

.sub-section:hover {
  transform: scale(1.02);
}
